<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sistema de Estoque</title>
    <meta charset="UTF-8">
</head>
<body>
    <div>
        <h1>Dados do Cliente</h1>
        <hr>
        <form th:action="@{/clientes}" th:object="${cliente}" method="POST">
            <input id="ativo" type="hidden" th:field="*{id}"/>
            <div>
                <label for="ativo">Registro Ativo</label>
                <input id="ativo" type="checkbox" th:field="*{ativo}"/>
            </div>
            <br>
            <div>
                <label for="nome">Nome</label>
                <input id="nome" type="text" th:field="*{nome}"/>
            </div>
            <br>
            <div>
                <label for="cpf">CPF</label>
                <input id="cpf" type="text" th:field="*{cpf}"/>
            </div>
            <br>
            <div>
                <label for="dataDeNascimento">Data de Nascimento</label>
                <input id="dataDeNascimento" type="date"
                th:field="*{dataDeNascimento}"/>
            </div>
            <br>
            <div>
                <label for="sexo">Sexo</label>
                <select id="sexo" th:field="*{sexo}">
                    <option value="MASCULINO">Masculino</option>
                    <option value="FEMININO">Feminino</option>
                </select>
            </div>
        </form>
    </div>
</body>
</html>